/* CONTAINER GERAL */
.app-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #f5f7fa;
  overflow-x: hidden;
}

/* SIDEBAR */
.custom-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* 100% da viewport, evita scroll extra */
  width: 250px;
  background-color: #000;
  color: white;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  padding-top: 60px;
  transform: translateX(0);
}


.custom-sidebar.closed {
  transform: translateX(-100%);
}

.custom-sidebar.open {
  transform: translateX(0);
}

.custom-sidebar .ps-sidebar-container,
.custom-sidebar .ps-menu-root {
  background-color: #000 !important;
  color: white !important;
  height: 100%;
  overflow: hidden;
}

.ps-menu-button {
  padding: 12px 15px !important;
  margin: 5px 10px !important;
  border-radius: 6px !important;
  color: #ecf0f1 !important;
  transition: all 0.3s !important;
}

.ps-menu-button:hover {
  background-color: #34495e !important;
  color: white !important;
}

.ps-menu-button.active {
  background-color: #3498db !important;
}

.ps-menu-icon {
  margin-right: 10px !important;
}

.ps-collapsed .ps-menu-label {
  display: none !important;
}

.ps-collapsed .ps-menu-button {
  display: flex;
  justify-content: center !important;
  padding: 15px !important;
}

.ps-collapsed .ps-menu-icon {
  font-size: 1.3rem !important;
  margin-right: 0 !important;
  color: #fff !important;
}

.ps-collapsed .ps-menu-button:hover {
  background-color: #333 !important;
}

/* BOTÃO HAMBÚRGUER */
.hamburger-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
  font-size: 18px;
  z-index: 1101;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #000;
  transition: left 0.3s ease;
}

/* POSIÇÃO DO BOTÃO NO DESKTOP */
@media (min-width: 769px) {
  .hamburger-button.open-desktop {
    left: 260px;
  }

  .hamburger-button.closed-desktop {
    left: 20px;
  }

  .custom-sidebar.closed {
    transform: translateX(-100%);
  }

  .custom-sidebar.open {
    transform: translateX(0);
  }

  
}
