/* UserStatisticsPage.module.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden; /* evita scroll vertical */
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 90%;
  overflow: hidden;
}

.content {
  padding: 1rem 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.chartContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.chartSection {
  width: 100%;
  max-width: 800px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.5rem 0;
}

.pieChart {
  height: 100%;
  max-height: 40vh;
  margin-bottom: 2rem;
}

.barChart {
  width: 100%;
  height: 100%;
  max-height: 40vh;
  margin-bottom: 2rem;
}

.chartScrollWrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 2rem;
}


@media (max-width: 768px) {
  .container {
    margin-left: -100px;
    width: 150%;
    min-height: 100vh;
  }

  .content {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .chartSection {
    width: 100%;
    max-width: 100%;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pieChart {
    width: 80%;
    max-width: 300px;
    height: auto;
    margin: 1rem 0;
  }

  .barChart {
    min-width: 600px;
    height: 300px;
    width: 70%;
    margin-left: 6rem;
  }

  .chartScrollWrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
  }
}
